/* src/global/globalStyles.css */
* {
  font-family: "JetBrains Mono", monospace;
}

body {
  padding-top: 100px;
  background-color: #000000;
  background-image: url("./background.jpg"); /* ← ruta correcta */
  display: grid;
  height: 100%;
  grid-template: 1fr/100%;
  place-items: center;
}