/* src/global/globalStyles.css */
* {
  font-family: "JetBrains Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 100px;
  height: 100%;
  display: grid;
  grid-template: 1fr / 100%;
  place-items: center;
  background-color: #000000;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.50)),
    url("../../public/background.jpg");
  background-repeat: repeat;
  background-size: 1024px;
  background-blend-mode: multiply;

  background-position: center;
}
